{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page }}</title>
    <link rel="shortcut icon" href="{% static 'home/3248209.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    {% tailwind_css %}

    <style>
        .italianno {
            font-family: "Playfair Display", serif;
            font-weight: 400;
            font-style: normal;
        }
        .glow {
            animation: pulse 4s infinite;
        }

        @keyframes pulse {
            0% {
                color: rgba(245, 158, 11);
            }
            50% {
                color: rgb(255, 231, 190);
            }
            100% {
                color: rgba(245, 158, 11);
            }
        }
    </style>
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>